*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #607d8b;
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSww4l_JEm5Q4HzSewB5Nk0xr8-ST-i4h7uZQ&usqp=CAU'); 
    background-repeat: no-repeat;
    background-size: cover;
}
h1
{
	margin: 0;
	text-align: left;
	justify-content: left;
	align-items: left;
	padding-top: 0px;
	color: peachpuff;
}
.container
{
	position: relative;
	top: 50px;
}
.cup
{
	position: relative;
	width: 280px;
	height: 300px;
	background: linear-gradient(to right,#f9f9f9, #d9d9d9);
	border-bottom-left-radius: 45%;
	border-bottom-right-radius: 45%;
	<!--background-image: url('PHOTO.jpg' ); -->
	background-repeat: no-repeat;
    background-position: center;
    background-color: #dcdcdc;
}
img
{
	border-radius: 30%;
	position: relative;
	width: 270px;
	height: 250px;
	padding-top: 10px;
	padding-left: 7px;
}
.top
{
	position: absolute;
	top: -30px;
	left: 0;
	width: 100%;
	height: 60px;
	background: linear-gradient(to right, #f9f9f9,#d9d9d9);
	border-radius: 50%;
}
.circle
{
position: absolute;
top: 5px;
left: 10px;
width: calc(100% - 20px);
height: 50px;
background: linear-gradient(to left, #f9f9f9, #d9d9d9);
border-radius: 50%;
box-sizing: border-box;
overflow: hidden;
}
.tea 
{
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#c57e65, #e28462);
	border-radius: 50%;
}
.handle
{
	position: absolute;
	right: -70px;
	top: 45px;
	width: 160px;
	height: 180px;
	border: 25px solid #dcdcdc;
	border-left: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-radius: 50%;
	transform: rotate(42deg);
}
.plate
{
	position: absolute;
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
	width: 500px;
	height: 200px;
	background: linear-gradient(to right, #f9f9f9, #e7e7e7);
	border-radius: 50%;
	box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
}
.plate::before
{
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	background: linear-gradient(to left, #f9f9f9, #e7e7e7);
}
.plate::after
{
	content: '';
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	background: radial-gradient(rgba(0, 0, 0, 0.2) 25%, transparent,
		transparent);
	border-radius: 50%;
}
.vapour
{
	position: relative;
	display: flex;
	z-index: 1;
	padding: 0 20px;
}
.vapour span 
{
	position: relative;
	bottom: 50px;
	display: block;
	margin: 0 2px 50px;
	min-width: 8px;
	height: 120px;
	background: #fff;
	border-radius: 50%;
	animation: animate 5s linear infinite;
	opacity: 0;
	filter: blur(8px);
	animation-delay: calc(var(--i) * -0.5s);
}
@keyframes animate
{
	0%
	{
		transform: translateY(0) scaleX(1);
		opacity: 0;
	}
	15%
	{
		opacity: 1;
	}
	50%
	{
		transform: translateY(-150px) scaleX(5);
	}
	95%
	{
		opacity: 0;
	}
	100%
	{
		transform: translateY(-300px) scaleX(10);
	}
}

footer {
    text-align: center;
    color: white;
    font-size: 1rem !important;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 5px;
  }
  
  footer a:visited {
    color: inherit;
  }

  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #dcdcdc;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}